rpc-shrowd/src/main/resources/META-INF/people.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://test.hatter.me/schema/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://test.hatter.me/schema/test"
            elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <!--<xsd:element name="register">-->
    <!--<xsd:complexType>-->
    <!--<xsd:complexContent>-->
    <!--<xsd:extension base="beans:identifiedType">-->
    <!--<xsd:attribute name="name" type="xsd:string"/>-->
    <!--<xsd:attribute name="age" type="xsd:int"/>-->
    <!--</xsd:extension>-->
    <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--</xsd:element>-->
    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the dubbo services provided by dubbo framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The registry config ]]></xsd:documentation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="city.hunter.weapon.RegistryConfig"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry default port. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry lookup protocol. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="username" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry username. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry password. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <!--<xsd:element name="parameter" type="parameterType">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation><![CDATA[ The service url parameter ]]></xsd:documentation>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <!--<xsd:complexType name="parameterType">-->
        <!--<xsd:attribute name="key" type="xsd:string" use="required">-->
            <!--<xsd:annotation>-->
                <!--<xsd:documentation><![CDATA[ The parameter key. ]]></xsd:documentation>-->
            <!--</xsd:annotation>-->
        <!--</xsd:attribute>-->
        <!--<xsd:attribute name="value" type="xsd:string" use="required">-->
            <!--<xsd:annotation>-->
                <!--<xsd:documentation><![CDATA[ The parameter value. ]]></xsd:documentation>-->
            <!--</xsd:annotation>-->
        <!--</xsd:attribute>-->
        <!--<xsd:attribute name="hide" type="xsd:boolean" use="optional">-->
            <!--<xsd:annotation>-->
                <!--<xsd:documentation><![CDATA[ Hide parameter. ]]></xsd:documentation>-->
            <!--</xsd:annotation>-->
        <!--</xsd:attribute>-->
    <!--</xsd:complexType>-->


</xsd:schema>